/* fonts */

@font-face {
    font-family: "Neuzeit";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/neuzeitgro/neuzeitgroreg?#iefix") format("embedded-opentype"), url("../fonts/neuzeitgro/NeuzeitGro-Reg.woff") format("woff"), url("../fonts/neuzeitgro/neuzeitgroreg.ttf") format("truetype"), url("../fonts/neuzeitgro/neuzeitgroreg.svg#Neuzeit") format("svg");
}

@font-face {
    font-family: "Entypo";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/entypo/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo/entypo.ttf") format("truetype"), url("../fonts/entypo/entypo.woff") format("woff"), url("../fonts/entypo/entypo.svg#entypo") format("svg");
}


h1, h2, h3, h4, h5, h6 {
    color: #818285;
    font-family: 'Neuzeit',verdana,helvetica,sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}

h1 {
    font-size: 20px;
    
}

h1.sub {
    font-size: 24px;
    padding-bottom: 20px;
}

h2 {
    font-size: 16px;
    padding-bottom: 0px;
}

h2.movement {
    font-size: 18px;
    
}

h1 strong {
    font-size: 30px;
    font-weight: normal;
   
}

a {color: #333;
    font-family: 'Neuzeit',verdana,helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 510px;
    
    
    }
    

    
a.selected {
  color: #000;
  font-weight: bold;
}


p {color: #818285;
    font-family: 'Neuzeit',verdana,helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    width: 400px;
    padding-bottom: 20px;
    line-height: 24px;
    }
    
    .large {font-size: 22px; line-height: 26px;}
    
    .small {width: 35%;}
    
    .superbig {font-size: 40px;}
    .superbold {font-weight: bold;}

.huge {font-size: 58px; text-transform: uppercase;}


body {background: #000 url('../images/bg_latinolaunch.jpg') no-repeat;  height: 100%;  color: #fff;}




.white-text {color: #fff;}
.green-text {color: #74ad30;}
.green-link {color: #74ad30; text-decoration: underline;}

.add-top {margin-top: 40px;}

.center-align {text-align: center;}

/* bootstrap buttons  */

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 15px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    vertical-align: middle;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
}
.btn:active, .btn.active {
}
.btn:first-child {
}
.btn:hover {
    background-color: #E6E6E6;
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}
.btn:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
.btn.active, .btn:active {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
.btn-large {
    border-radius: 0;
    font-size: 24px;
    
    line-height: normal;
    padding: 14px 14px;
}
.btn-large [class^="icon-"] {
    margin-top: 1px;
}
.btn-small {
    font-size: 11px;
    line-height: 16px;
    padding: 5px 9px;
}
.btn-small [class^="icon-"] {
    margin-top: -1px;
}
.btn-mini {
    font-size: 11px;
    line-height: 14px;
    padding: 2px 6px;
}
.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn {
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary {
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #0066CC, #004F9D);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #004F9D;
}
.btn-primary:active, .btn-primary.active {
}
.btn-warning {
    background-color: #FAA732;
    background-image: -moz-linear-gradient(center top , #FF6600, #D95700);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #D95700;
}
.btn-warning:active, .btn-warning.active {
}
.btn-danger {
    background-color: #DA4F49;
    background-image: -moz-linear-gradient(center top , #A90000, #780000);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #780000;
}
.btn-danger:active, .btn-danger.active {
}
.btn-success {
    background-color: #699D2A;
    background-image: -moz-linear-gradient(center top , #74AD30, #5D8B26);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #5D8B26;
}
.btn-success:active, .btn-success.active {
}
.btn-info {
    background-color: #49AFCD;
    background-image: -moz-linear-gradient(center top , #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #2F96B4;
}
.btn-info:active, .btn-info.active {
}
.btn-inverse {
    background-color: #414141;
    background-image: -moz-linear-gradient(center top , #555555, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222222;
}
.btn-inverse:active, .btn-inverse.active {
}
button.btn, input.btn[type="submit"] {
}
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
button.btn.btn-large, input.btn.btn-large[type="submit"] {
}
button.btn.btn-small, input.btn.btn-small[type="submit"] {
}
button.btn.btn-mini, input.btn.btn-mini[type="submit"] {
}


/* bootstrap buttons end  */


a {text-decoration: none;}
.share {width: 100px; margin-top: 25px; margin-left: 360px; float: left;}

.share h1 {font-size: 20px;}

#main_container {
width: 1500px;
margin: 0 auto;
position: relative;
}

.vilogo {
background-image: url("../images/visalus_vicares_logo1.jpg");
width: 121px;
height: 115px;
background-repeat: no-repeat;
position: absolute: 0 0;
text-indent: -999999px;
margin-left: 4%;
}


.top {margin-top: 20px;}
.top-2 {margin-top: 40px;}
.top-3 {margin-top: 60px;}
.left {margin-left: 20px;}




.scale-with-grid img {
    height: auto;
    max-width: 100%;
}

.white-link {color: #fff;}
.white-link:hover {color: #eee;}
.big-link {font-size: 20px;}
.big-link:hover {font-size: 20px;}

.padded {padding: 20px;}

#vi-logo {background-image: url("../images/visalus_logo.png"); background-repeat: no-repeat; text-indent: -999999px; height: 88px; width: 79px;}



#wrapper {margin: 0 auto; width: 960px;}

.opacity-bg {background-image: url("../images/visalus_uk_opacity_bg.png"); background-repeat: repeat;}

.space {font-size: 28px; letter-spacing: 6px;}


.white-border {background: #ccc; width: 400px; margin-bottom: 20px;}

.big-headline {font-size: 38px; }

.lower-case {text-transform: lowercase;}

ul {margin-top: 0; font-family: "Neuzeit"; font-size: 14px;}
li {line-height: 25px;}

.small {width: 135px; font-size: 13px; margin-left: 18px; margin-top: 15px;}