/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */



/* #General
================================================== */


/* #General Bug Fixes
================================================== */



/* #Header Section
================================================== */


header {position: fixed; z-index: 300;}

/*#zone-header {width: 960px;}*/
  #zone-header .region-header-first,
  #zone-header .region-header-second,
  #zone-header .region-header-first .region-inner,
  #zone-header .region-header-second .region-inner {height: 80px;}

      .region-header-first .block, .region-header-second .block {display: inline-block !important; vertical-align: middle;}

.phone-number { 
  float: none;
}


/* #Language Dropdown
================================================== */


.block-lang-dropdown form {
  margin: 0px 0 10px 0;
}

.dd_after .ddTitle {padding: 5px 15px;}


/* #Product Page
================================================== */

.masonry-item, .packery-item {width: 33.33%;}


/* #Footer
================================================== */


footer {padding: 20px 0px;}
#zone-footer.container-12 .grid-6 {
  width: 460px; float: left;
}

















/***************** Homepage  ************************************************************/

li.vitailityslide {background-size: 100% auto;}
li.vitailityslide img {width: auto;}
li.vitailityslide ul.date li {display: inline-block; padding: 0px 0px;}
li.vitailityslide ul.date li.divider {display: inline-block;}

/***************** July 2014 Bogo Pages - ENGLISH - CA ENGLISH  *************************/

.page-node-2213 .ds-section1 {height:538px; background:#86ebfe url("/sites/default/files/bogo/bg_beach_en.jpg") no-repeat center top;}
.page-node-2216 .ds-section1 {height:538px; background:#86ebfe url("/sites/default/files/bogo/bg_beach_fr.jpg") no-repeat center top;}
  .page-node-2213 .ds-section1 .grid-12, .page-node-2216 .ds-section1 .grid-12 {padding-top: 35px; text-align: left;}
      .page-node-2213 .ds-section1 span, .page-node-2216 .ds-section1 span {font-size: 29px;}
      .page-node-2213 .ds-section1 h1, .page-node-2213 .ds-section1 h2, .page-node-2216 .ds-section1 h1, .page-node-2216 .ds-section1 h2 {font-size: 65px; line-height: 60px; opacity: 0.8;}
      .page-node-2213 .ds-section1 h1, .page-node-2216 .ds-section1 h1 {font-size: 78px;}
      .page-node-2213 .ds-section1 h3, .page-node-2216 .ds-section1 h3 {font-size: 37px;}
      .page-node-2213 .ds-section1 .products, .page-node-2216 .ds-section1 .products {margin: 15px 0px 25px; width: 480px; font-size: 88px; line-height: 148px;}
        .page-node-2213 .ds-section1 img.bottle, .page-node-2216 .ds-section1 img.bottle {width: 62px;}
        .page-node-2213 .ds-section1 img.box, .page-node-2216 .ds-section1 img.box {width: 179px;}
          .page-node-2213 .ds-section1 .circle {position: static; width: 125px; height: 125px; font-size: 23px; line-height: 28px; margin-top: 20px;}
          .page-node-2216 .ds-section1 .circle {position: static; width: 125px; height: 125px; font-size: 21px; line-height: 22px; margin-top: 20px;}
              .page-node-2213 .ds-section1 .circle p {margin: 0px; padding-top: 31px;}
              .page-node-2216 .ds-section1 .circle p {margin: 0px; padding-top: 25px;}
      .page-node-2213 .ds-section1 a, .page-node-2216 .ds-section1 a {width: 213px; font-size: 29px; line-height: 45px; margin: 15px 0px;}
.page-node-2213 .ds-section2, .page-node-2216 .ds-section2 {font-size: 24px; line-height: 28px;}
  .page-node-2213 .ds-section2 #countdown, .page-node-2216 .ds-section2 #countdown {font-size: 30px;}
  .page-node-2213 .ds-section2 p, .page-node-2216 .ds-section2 p {margin: 25px 0px 25px;}
.page-node-2213 .ds-section3, .page-node-2216 .ds-section3 {}
    .page-node-2213 .ds-section3 .grid-12, .page-node-2216 .ds-section3 .grid-12 {padding-top: 35px;}
      .page-node-2213 .ds-section3 .title, .page-node-2216 .ds-section3 .title {padding: 25px 0px 15px;}
      .page-node-2213 .ds-section3 .product-img, .page-node-2216 .ds-section3 .product-img {height: 148px;}
        .page-node-2213 .ds-section3 span, .page-node-2216 .ds-section3 span {font-size: 18px;}
.page-node-2213 .ds-section4, .page-node-2216 .ds-section4 {padding-top: 25px;}
  .page-node-2213 .ds-section4 p, .page-node-2216 .ds-section4 p {font-size: 16px;}
  .page-node-2213 .ds-section4 .explanation, .page-node-2216 .ds-section4 .explanation {float: left; font-size: 16px; margin-left: 20px; margin-top: -15px;}
  .page-node-2213 .ds-section4 .buy-now-btn, .page-node-2216 .ds-section4 .buy-now-btn {margin-top: 15px;}
    .page-node-2213 .ds-section4 input.input-medium, .page-node-2216 .ds-section4 input.input-medium {
      width: 539px; height: 28px; margin: 9px 0px;
    }
    .page-node-2213 .ds-section4 input.input-medium:last-child, .page-node-2216 .ds-section4 input.input-medium:last-child {margin-bottom: 35px;}
  .page-node-2213 .ds-section4 button, .page-node-2216 .ds-section4 button {float: left; width: 221px; line-height: 51px; font-size: 26px;}
  .page-node-2213 .ds-section4 form, .page-node-2216 .ds-section4 form {margin: 0 0 30px;}

/***************** July 2014 Bogo Pages - SPANISH  *************************/

.page-node-2214 .ds-section1 {height:538px; background:#86ebfe url("/sites/default/files/bogo/bg_beach_es.jpg") no-repeat center top;}
  .page-node-2214 .ds-section1 .grid-12 {padding-top: 13px; text-align: left;}
      .page-node-2214 .ds-section1 span {font-size: 24px; line-height: 18px;}
      .page-node-2214 .ds-section1 h1, .page-node-2214 .ds-section1 h2 {font-size: 52px; line-height: 55px; opacity: 0.8;}
      .page-node-2214 .ds-section1 h1 {font-size: 69px;}
      .page-node-2214 .ds-section1 h3 {font-size: 39px;}
      .page-node-2214 .ds-section1 .products {margin: 15px 0px 25px; width: 500px; font-size: 88px; line-height: 148px;}
        .page-node-2214 .ds-section1 img.bottle {width: 62px;}
        .page-node-2214 .ds-section1 img.box {width: 179px;}
          .page-node-2214 .ds-section1 .circle {position: static; width: 125px; height: 125px; font-size: 20px; line-height: 22px; margin-top: 20px;}
              .page-node-2214 .ds-section1 .circle p {margin: 0px; padding-top: 28px;}
      .page-node-2214 .ds-section1 a {width: 213px; font-size: 29px; line-height: 45px; margin: 15px 0px;}
.page-node-2214 .ds-section2 {font-size: 24px; line-height: 28px;}
  .page-node-2214 .ds-section2 #countdown {font-size: 30px;}
  .page-node-2214 .ds-section2 p {margin: 25px 0px 25px;}
.page-node-2214 .ds-section3 {}
    .page-node-2214 .ds-section3 .grid-12 {padding-top: 35px;}
      .page-node-2214 .ds-section3 .title {padding: 25px 0px 15px;}
      .page-node-2214 .ds-section3 .product-img {height: 148px;}
        .page-node-2214 .ds-section3 span {font-size: 18px;}
.page-node-2214 .ds-section4 {padding-top: 25px;}
  .page-node-2214 .ds-section4 p {font-size: 16px;}
  .page-node-2214 .ds-section4 .explanation {float: left; font-size: 16px; margin-left: 20px; margin-top: -15px;}
  .page-node-2214 .ds-section4 .buy-now-btn {margin-top: 15px;}
    .page-node-2214 .ds-section4 input.input-medium {
      width: 539px; height: 28px; margin: 9px 0px;
    }
    .page-node-2214 .ds-section4 input.input-medium:last-child {margin-bottom: 35px;}
  .page-node-2214 .ds-section4 button {float: left; width: 221px; line-height: 51px; font-size: 26px;}
  .page-node-2214 .ds-section4 form {margin: 0 0 30px;}  

/***************** July 2014 Bogo Pages - FRENCH  *************************/

.page-node-2215 .ds-section1 {height:538px; background:#86ebfe url("/sites/default/files/bogo/bg_beach_fr.jpg") no-repeat center top;}
  .page-node-2215 .ds-section1 .grid-12 {padding-top: 13px; text-align: left;}
      .page-node-2215 .ds-section1 span {font-size: 22px; line-height: 18px;}
      .page-node-2215 .ds-section1 h1, .page-node-2215 .ds-section1 h2 {font-size: 50px; line-height: 55px; opacity: 0.8;}
      .page-node-2215 .ds-section1 h1 {font-size: 65px;}
      .page-node-2215 .ds-section1 h3 {font-size: 39px;}
      .page-node-2215 .ds-section1 .products {margin: 15px 0px 25px; width: 500px; font-size: 88px; line-height: 148px;}
        .page-node-2215 .ds-section1 img.bottle {width: 62px;}
        .page-node-2215 .ds-section1 img.box {width: 179px;}
          .page-node-2215 .ds-section1 .circle {position: static; width: 125px; height: 125px; font-size: 20px; line-height: 22px; margin-top: 20px;}
              .page-node-2215 .ds-section1 .circle p {margin: 0px; padding-top: 32px;}
      .page-node-2215 .ds-section1 a {width: 365px; font-size: 29px; line-height: 45px; margin: 15px 0px;}
.page-node-2215 .ds-section2 {font-size: 24px; line-height: 28px;}
  .page-node-2215 .ds-section2 #countdown {font-size: 30px;}
  .page-node-2215 .ds-section2 p {margin: 25px 0px 25px;}
.page-node-2215 .ds-section3 {}
    .page-node-2215 .ds-section3 .grid-12 {padding-top: 35px;}
      .page-node-2215 .ds-section3 .title {padding: 25px 0px 15px;}
      .page-node-2215 .ds-section3 .product-img {height: 148px;}
        .page-node-2215 .ds-section3 span {font-size: 18px;}
.page-node-2215 .ds-section4 {padding-top: 25px;}
  .page-node-2215 .ds-section4 p {font-size: 16px;}
  .page-node-2215 .ds-section4 .explanation {float: left; font-size: 16px; margin-left: 20px; margin-top: -25px; width: 550px;}
  .page-node-2215 .ds-section4 .buy-now-btn {margin-top: 15px;}
    .page-node-2215 .ds-section4 input.input-medium {
      width: 539px; height: 28px; margin: 9px 0px;
    }
    .page-node-2215 .ds-section4 input.input-medium:last-child {margin-bottom: 35px;}
  .page-node-2215 .ds-section4 button {float: left; width: 349px; line-height: 51px; font-size: 26px;}
  .page-node-2215 .ds-section4 form {margin: 0 0 30px;}  

/***************** Bogo Pages  *************************/

.page-node-2192 .ds-section1 h2, .page-node-2193 .ds-section1 h2, .page-node-2192 .ds-section1 h2, .page-node-2194 .ds-section1 h2 
  {font-size:35px; line-height:35px;}
.page-node-2192 .ds-section1 h1 
  {font-size:64px; line-height:64px; margin:50px 0px 5px;}
.page-node-2193 .ds-section1 h1 
  {font-size:47px; line-height:50px; margin:50px 0px 5px;}
.page-node-2194 .ds-section1 h1 
  {font-size:47px; line-height:50px; margin:50px 0px 5px;}
.page-node-2192 .ds-section1 .products .red-circle {
  width:149px; height:149px; font-size:22px; line-height:26px; top:50px;
}
.page-node-2193 .ds-section1 .products .red-circle {
  width:149px; height:149px; font-size:22px; line-height:26px; top:50px;
}
.page-node-2194 .ds-section1 .products .red-circle {
  width:139px; height:139px; font-size:22px; line-height:24px; top:60px; right:20px;
}
.page-node-2192 .ds-section1 .products .red-circle div, 
.page-node-2193 .ds-section1 .products .red-circle div {
  padding-top:43px;
}
.page-node-2194 .ds-section1 .products .red-circle div {
  padding-top:45px;
}
.page-node-2192 .ds-section1 a {font-size:31px; width:230px; line-height: 49px; margin:25px 0px;}
.page-node-2193 .ds-section1 a {font-size:31px; width:330px; line-height: 49px; margin:25px 0px;}
.page-node-2194 .ds-section1 a {font-size:31px; width:380px; line-height: 49px; margin:25px 0px;}

/***************** Go 6-0  *************************/

.page-node-2164 .ds-section1,
.page-node-2165 .ds-section1,
.page-node-2167 .ds-section1 {
  height: 450px; background: #27282a url("/sites/default/files/go-60/banner.jpg") no-repeat center top; 
} 
  .page-node-2164 .ds-section1 .grid-6.alpha span,
  .page-node-2167 .ds-section1 .grid-6.alpha span {font-size: 118px; line-height: 75px;}
  .page-node-2165 .ds-section1 .grid-6.alpha span {font-size: 75px; line-height: 75px;}
  .page-node-2164 .ds-section1 .grid-6 .circle {
      width: 262px; height: 262px; font-size: 24px; line-height: 25px; margin-top: 0px;
  }

  .page-node-2165 .ds-section1 .grid-6 .circle {
      width: 262px; height: 262px; font-size: 18px; line-height: 20px; margin-top: 0px;
  }
  .page-node-2167 .ds-section1 .grid-6 .circle {
      width: 262px; height: 262px; font-size: 18px; line-height: 20px; margin-top: 0px;
  }
    .page-node-2164 .ds-section1 .grid-6 .circle a {padding: 49px 5px 0px;}
    .page-node-2165 .ds-section1 .grid-6 .circle a {padding: 44px 5px 0px;}
    .page-node-2167 .ds-section1 .grid-6 .circle a {padding: 44px 5px 0px;}
    .page-node-2164 .ds-section1 .grid-6.omega a,
    .page-node-2165 .ds-section1 .grid-6.omega a,
    .page-node-2167 .ds-section1 .grid-6.omega a {cursor: pointer; padding-top: 240px; padding-left: 0px; margin-top: 0px; display: block;}
      .page-node-2164 .ds-section1 .grid-6.omega a img,
      .page-node-2165 .ds-section1 .grid-6.omega a img,
      .page-node-2167 .ds-section1 .grid-6.omega a img {width:141px;}
        .page-node-2164 .ds-section1 .grid-6 .circle b {font-size: 28px; line-height: 30px;}
        .page-node-2165 .ds-section1 .grid-6 .circle b {font-size: 23px; line-height: 26px;}
        .page-node-2167 .ds-section1 .grid-6 .circle b {font-size: 23px; line-height: 26px;}
        .page-node-2164 .ds-section1 .grid-6 .circle h1 {font-size: 44px; line-height: 46px;}
        .page-node-2165 .ds-section1 .grid-6 .circle h1 {font-size: 34px; line-height: 32px;}
        .page-node-2167 .ds-section1 .grid-6 .circle h1 {font-size: 34px; line-height: 32px;}
.page-node-2164 #myModal-learn-more,
.page-node-2165 #myModal-learn-more,
.page-node-2167 #myModal-learn-more {width: 674px; min-height: 560px;}        

/********* I challenge you  **********/

.page-node-2056 .ds-section1 {height: 350px; font-size: 20px;} 
.page-node-2067 .ds-section1 {height: 350px; font-size: 21px;} 
.page-node-2068 .ds-section1 {height: 350px; font-size: 18px;}
.page-node-2124 .ds-section1 {height: 350px; font-size: 16px;}
    .page-node-2056 .ds-section1 .grid-6.alpha {width: 460px; position: static;}
    .page-node-2067 .ds-section1 .grid-6.alpha {padding-top: 18px; width: 460px; position: static;}
    .page-node-2068 .ds-section1 .grid-6.alpha {padding-top: 10px; width: 460px; position: static;}
    .page-node-2124 .ds-section1 .grid-6.alpha {padding-top: 35px; width: 460px; position: static;}
        .page-node-2056 .ds-section1 span {font-size: 30px; color: #ecf13d;}
        .page-node-2067 .ds-section1 span {font-size: 27px; color: #ecf13d;}
        .page-node-2068 .ds-section1 span {font-size: 27px; line-height: 34px; color: #ecf13d;}
        .page-node-2124 .ds-section1 span {font-size: 28px; line-height: 30px; color: #ecf13d;}

        .page-node-2056 .ds-section1 h1 {font-size: 75px; line-height: 65px;}
        .page-node-2067 .ds-section1 h1 {font-size: 85px; line-height: 78px;}
        .page-node-2068 .ds-section1 h1 {font-size: 52px; line-height: 50px;}
        .page-node-2124 .ds-section1 h1 {font-size: 68px; line-height: 62px;}

        .page-node-2056 .ds-section1 a.play-btn, 
        .page-node-2067 .ds-section1 a.play-btn,
        .page-node-2068 .ds-section1 a.play-btn,
        .page-node-2124 .ds-section1 a.play-btn {font-size: 17px; color: #FFF; padding-top: 120px; margin-top: -30px;}

        .page-node-2056 .ds-section1 .grid-6.omega img, 
        .page-node-2067 .ds-section1 .grid-6.omega img,
        .page-node-2068 .ds-section1 .grid-6.omega img,
        .page-node-2124 .ds-section1 .grid-6.omega img {margin-left: -50px;}

        .page-node-2056 .ds-section1 .circle, 
        .page-node-2067 .ds-section1 .circle, 
        .page-node-2068 .ds-section1 .circle,
        .page-node-2124 .ds-section1 .circle {
          background:#ecf13d; color:#000; text-align: center; font-size: 18px; position: absolute; top: 90px; right: -38px; width: 166px; height: 166px;
        }
            .page-node-2056 .circle > div, 
            .page-node-2067 .circle > div, 
            .page-node-2068 .circle > div {padding-top: 30px;}
            .page-node-2124 .circle > div {padding-top: 26px;}
.page-node-2056 .ds-section3, .page-node-2067 .ds-section3, .page-node-2068 .ds-section3, .page-node-2124 .ds-section3 { 
  margin: 40px 0px 70px; 
}
    .page-node-2056 .ds-section3 .field-item .grid-12:first-child, 
    .page-node-2067 .ds-section3 .field-item .grid-12:first-child, 
    .page-node-2068 .ds-section3 .field-item .grid-12:first-child,
    .page-node-2124 .ds-section3 .field-item .grid-12:first-child {
        margin-bottom: 50px;
    }
    .page-node-2056 .ds-section3 h2, 
    .page-node-2067 .ds-section3 h2, 
    .page-node-2068 .ds-section3 h2,
    .page-node-2124 .ds-section3 h2 {
      font-size: 24px; line-height: 30px;  width: 550px; padding-top: 50px;
    }
    .page-node-2056 .ds-section3 .circle, 
    .page-node-2067 .ds-section3 .circle, 
    .page-node-2068 .ds-section3 .circle,
    .page-node-2124 .ds-section3 .circle {
      font-size: 60px; width: 82px; height: 82px; line-height: 82px; top: -74px; left: -27px;
    }

.page-node-2056 .ds-section4 h1, 
.page-node-2067 .ds-section4 h1,
.page-node-2068 .ds-section4 h1,
.page-node-2124 .ds-section4 h1 {font-size: 58px;}

.page-node-2056 .ds-section4 h2, 
.page-node-2067 .ds-section4 h2,
.page-node-2068 .ds-section4 h2,
.page-node-2124 .ds-section4 h2 {font-size: 37px; line-height: 40px;}  

.page-node-2056 .ds-section4 ul, 
.page-node-2067 .ds-section4 ul,
.page-node-2068 .ds-section4 ul,
.page-node-2124 .ds-section4 ul {margin-top: 40px;}

.page-node-2056 .red-strip, 
.page-node-2067 .red-strip,
.page-node-2068 .red-strip,
.page-node-2124 .red-strip {line-height:80px; padding:0px;}

.page-node-2056 .red-strip .grid-12, 
.page-node-2067 .red-strip .grid-12 {
  background: url("/sites/default/files/challengeyou/arrow_fade.png") no-repeat center top;
}
.page-node-2068 .red-strip .grid-12 {
  background: url("/sites/default/files/challengeyou/arrow_fade.png") no-repeat 345px top;
}
.page-node-2124 .red-strip .grid-12 {
  background: url("/sites/default/files/challengeyou/arrow_fade.png") no-repeat 288px top;
}
.page-node-2056 .red-strip a, 
.page-node-2067 .red-strip a {display:inline-block; padding-left:160px; position:relative; left:-60px;}
.page-node-2068 .red-strip a {display:inline-block; padding-left:125px; position:relative; left:-60px;}
.page-node-2124 .red-strip a {display:inline-block; padding-left:130px; position:relative; left:-60px;}

.page-node-2056 .ds-section5, 
.page-node-2067 .ds-section5,
.page-node-2068 .ds-section5,
.page-node-2124 .ds-section5 {height:80px; padding: 0px;}

ul.image-feed li {float:left;}
    ul.image-feed li:nth-child(4n) {padding-right:0px;}
    ul.image-feed li:first-child, ul.image-feed li:nth-child(5n) {padding-left:0px;}

.page-node-2056 .ds-section6 h2, 
.page-node-2067 .ds-section6 h2,
.page-node-2068 .ds-section6 h2,
.page-node-2124 .ds-section6 h2 {font-family: 'Neuzeit-black'; font-size: 24px;}    

/********* LID Leaderboard  **********/

.page-node-2217 .table-wrapper {overflow-x: visible; white-space: normal;}
.page-node-2217 .table-wrapper-inner {display:block; width: 100%;}


/***************** ViBites Downloads  **************************************************/



/***************** ViBites  ************************************************************/


#main #vibites-header .product-bg-main {
  background-size: cover;
}
#vibites-header .product-bg-main .vibites-logo {
	height: 100%; margin-left: -100px !important; text-indent: 0px; 
  background: none;
}
#vibites-header .product-bg-main a.play-btn {

}
      #main #vibites-content .alpha {margin-right: 20px;}
      #main #vibites-content .omega {margin-left: 20px;}
    #vibites-content .inner {padding-left: 20px;}
    #vibites-header .product-bg {text-align: left; height: 200px;}
            #vibites-header .product-bg img {position: absolute; top: 35px; right: 15%; padding: 0px; max-width: 310px;}
                  #vibites-header .product-bg img.natural {/*right: 19%;*/ right: 35%;}    
                  #vibites-header .product-bg img.left {position: absolute; top: 25px; /*left: -15px;*/ left: 10px;}
        #vibites-header .product-bg .container-12 {padding: 0px;}             
        ul.vibite-buttons li {margin: 0px 10px;}  
            #vibites-content ul.vibite-buttons img {width: auto;}
                #vibites-header .product-bg .vibites-logo-text ul li {padding: 0px;}


/********* Mastermind  **********/

    .mastermind-banner h3 {font-size: 41px; line-height: 43px; margin: 10px 0;}

/********* NST Event Page  **********/

      .nst-event-page .ds-section1 .grid-6.logo-outer {text-align: right;} 
      .nst-event-page .ds-section1 h3 {font-family: 'Neuzeit'; font-size: 38px; margin: 0px 0px 5px; text-shadow: black 0.0em 0.0em 0.0em;}    
                                                         

/* #Menu Section
================================================== */

/* Menus */
  
/* #Content Section
================================================== */

/* #Footer Section
================================================== */

/* SubFooter Section */