/* fonts */

@font-face {
  font-family: "Neuzeit";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/neuzeitgro/reg/neuzeitgroreg?#iefix") format("embedded-opentype"), url("../fonts/neuzeitgro/reg/neuzeitgroreg.woff") format("woff"), url("../fonts/neuzeitgro/reg/neuzeitgroreg.ttf") format("truetype"), url("../fonts/neuzeitgro/reg/neuzeitgroreg.svg#Neuzeit") format("svg");
}
@font-face {
  font-family: 'Neuzeit-bold';
  src: url("../fonts/neuzeitgro/bold/neuzeitgrobold.eot");
  src: url("../fonts/neuzeitgro/bold/neuzeitgrobold?iefix") format('embedded-opentype'), url("../fonts/neuzeitgro/bold/neuzeitgrobold.woff") format('woff'), url("../fonts/neuzeitgro/bold/neuzeitgrobold.ttf") format('truetype'), url("../fonts/neuzeitgro/bold/neuzeitgrobold.svg#Neuzeit") format('svg');
}
@font-face {
  font-family: 'Neuzeit-black';
  src: url("../fonts/neuzeitgro/black/neuzeitgroblack.eot");
  src: url("../fontsneuzeitgro/black/neuzeitgroblack?iefix") format('embedded-opentype'), url("../fonts/neuzeitgro/black/neuzeitgroblack.woff") format('woff'), url("../fonts/neuzeitgro/black/neuzeitgroblack.ttf") format('truetype'), url("../fonts/neuzeitgro/black/neuzeitgroblack.svg#Neuzeit-black") format('svg');
}
@font-face {
  font-family: "Neuzeit-lig";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/neuzeitgro/lig/neuzeitgrolig?#iefix") format("embedded-opentype"), url("../fonts/fonts/neuzeitgro/lig/neuzeitgrolig.woff") format("woff"), url("../fonts/neuzeitgro/lig/neuzeitgrolig.ttf") format("truetype"), url("../fonts/neuzeitgro/lig/neuzeitgrolig.svg#Neuzeit") format("svg");
}

@font-face {
    font-family: "Entypo";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/entypo/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo/entypo.ttf") format("truetype"), url("../fonts/entypo/entypo.woff") format("woff"), url("../fonts/entypo/entypo.svg#entypo") format("svg");
}

body {
    color: #333; font-size: 14px; line-height: 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #333;}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: normal;
    text-transform: uppercase;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}
h1 {
    font-size: 28px; line-height: 28px;
    font-family: "Neuzeit"; 
    font-weight: bold;
}
h3 {
 font-size: 24px; line-height: 35px; padding: 10px 0px 5px; font-family: "Neuzeit-lig";
}

h3.green-text {font-family: "Neuzeit-bold"; text-transform: uppercase;}

.green-text{color: #74ad30;}

a {
    color: #74ad30; font-weight: bold; display: block;
}

a.inline {
    color: #74ad30; font-weight: bold; display: inline;
}
    a.icon-green-doc {
        padding-left: 16px; line-height: 22px; background: url("../images/icon_document_green.jpg") no-repeat left center;
    }
    a:hover {
        color: #74ad30;
    }

p {
    color: #333;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 20px;
}
    .small-text {font-size: 11px;}
    .small-text2 {font-size: 14px;}
    
    footer  .small-text {color: white;}

    .large {font-size: 30px; line-height: 26px;}
    a.big  {font-size: 30px; line-height: 26px;}
    a.big :hover{font-size: 15px; line-height: 26px;}
    .small {width: 35%;}
    .superbig {font-size: 35px; line-height: 38px;}
    .superbold {font-weight: bold;}

a {text-decoration: none;}

.left {float: left;}
.right {float: right;}

/* extra padding  */
.link-top-padding {margin-top: 18px;}


ul, ol{ margin: 0 0 10px 15px;}

li {padding: 0 0 7px; line-height: 20px; list-style: disc;}


/*** HEADER ***/
/*********************************************************/

.vi-logo {
text-align: left;
}

#nav {
background: #333;
width: 100%; 
height: 80px; 
padding: 0px;
position: fixed;
top: 0;
left: 0;
z-index: 1000;
font-weight: 300;
font-size: 14px; color: #fff;
}

#nav a {margin-right: 20px;}
    #nav .container_12, #nav .container_12 .grid_12 {height: 80px;}
        #nav .container_12 .grid_12 .grid_4, #nav .container_12 .grid_12 .grid_8 {line-height: 80px;}
            form.langauges {overflow: hidden; float: right;}
                /*.langauge-dropdown span {float: left;}*/
                form.langauges select {
                    font-family: Arial, Helvetica, sans-serif; color: #999; font-size: 13px; text-transform: uppercase; 
                    border: 1px solid #999; border-radius: 0; cursor: pointer;
                    background: transparent; -webkit-appearance: none; height: 24px; line-height: 24px; min-width: 136px;
                    padding: 0px 3px; margin-left: 22px;
                }


#header {

      background: url("../images/nl-coming-banner.jpg") no-repeat scroll center top #000;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    height: 511px;
    line-height: 70px;
    margin-top: 80px;
    overflow: hidden;
    width: 100%;
}



#header-fi {

      background: url("../images/HoempageSlider_FI_x2.png") no-repeat scroll center top #000;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    height: 511px;
    line-height: 70px;
    margin-top: 80px;
    overflow: hidden;
    width: 100%
}

#header-se {

      background: url("../images/HoempageSlider_SE_x2.png") no-repeat scroll center top #000;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    height: 511px;
    line-height: 70px;
    margin-top: 80px;
    overflow: hidden;
    width: 100%
}

#header-es {

      background: url("../images/HoempageSlider_ES_x2.png") no-repeat scroll center top #000;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    height: 511px;
    line-height: 70px;
    margin-top: 80px;
    overflow: hidden;
    width: 100%
}


#header-it {

      background: url("../images/HoempageSlider_IT_x1.jpg") no-repeat scroll center top #000;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    height: 511px;
    line-height: 70px;
    margin-top: 80px;
    overflow: hidden;
    width: 100%
}

#header-pl {

      background: url("../images/HoempageSlider_PL_x1.jpg") no-repeat scroll center top #000;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    height: 511px;
    line-height: 70px;
    margin-top: 80px;
    overflow: hidden;
    width: 100%
}

#header-hu {

      background: url("../images/shipping-now-to-hungary_r2.jpg") no-repeat scroll center top #000;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    height: 511px;
    line-height: 70px;
    margin-top: 80px;
    overflow: hidden;
    width: 100%
}

#header-fr {

      background: url("../images/HoempageSlider_FR_x1_r2.jpeg") no-repeat scroll center top #000;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    height: 511px;
    line-height: 70px;
    margin-top: 80px;
    overflow: hidden;
    width: 100%
}

/*** BODY ***/
/*********************************************************/

#content-wrapper {margin-top: 0px; background-color: #fff; padding-bottom: 70px; width: 100%}

#slide1 {padding-bottom: 40px; margin-top: -40px}
    #slide1 .grid_3 img {margin-top: 80px;}
        #slide1 h3 a.back-to-link {display: inline; text-transform: lowercase; padding-left: 5px;}



#downloads, #faq {

    background-color: #f5f5f5;
    padding-top: 70px;
    margin-top: -5px;

}

#kaltura_player_1409187262{ display: block;}

a.green-btn-lrg {
     background-color: #74ad30;
    border-radius: 3px;
    color: #fff;
    display: inline;
    font-family: 'Neuzeit';
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    margin-right: 0;
    padding: 12px 7px;
    text-decoration: none;
}
a.green-btn-lrg:hover, a.green-btn-mdl:hover  {
    background-color: #6fa62e;
}

a.green-btn-mdl {
    background-color: #74ad30;
    border-radius: 3px;
    color: #fff;
    display: inline;
    font-family: "Neuzeit";
    font-size: 15px;
    font-weight: bold;
    line-height: 60px;
    margin-right: 0;
    padding: 14px 12px;
    text-decoration: none;
    text-transform: uppercase;
}

.modal_click {margin-bottom: 20px;}

.aside {margin-top: -30px}


#event {background: url("../images/banner_footer_launch.jpg") no-repeat scroll center top #000;
    color: #fff;
    height: 270px;
    margin-top: 0;
    overflow: hidden;}

#event h2{ color: #fff;
    font-size: 45px;
    margin: 25px 0 15px;}

#event h3 {color: #00cab4;
    font-family: "Neuzeit-lig";
    font-size: 28px;
    margin: 0;}

#event b {font-family: "Neuzeit-bold";
    font-weight: normal;
    text-transform: uppercase;}

#event p {color: white;}


#header-bonus-bash {
    
    background-color: #06495f;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    max-height: 258px;
    overflow: hidden;
}

.tab-content > .tab-pane {
    margin-left: 15px;
    margin-top: 30px;
}

.nav-tabs > li > a {
    background-color: #333;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #fff;
    line-height: 1.42857;
    margin-right: 2px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #fff;
    color: #555;
}


.nav-tabs > li.active > a {
    background-color: #eee;
}



/*** FOOTER ***/
/*********************************************************/

footer {background: #333; color: #dcdcdc; padding: 15px 0px;}




