/* fonts */

@font-face {
  font-family: "Neuzeit";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/neuzeitgro/reg/neuzeitgroreg?#iefix") format("embedded-opentype"), url("../fonts/neuzeitgro/reg/neuzeitgroreg.woff") format("woff"), url("../fonts/neuzeitgro/reg/neuzeitgroreg.ttf") format("truetype"), url("../fonts/neuzeitgro/reg/neuzeitgroreg.svg#Neuzeit") format("svg");
}
@font-face {
  font-family: 'Neuzeit-bold';
  src: url("../fonts/neuzeitgro/bold/neuzeitgrobold.eot");
  src: url("../fonts/neuzeitgro/bold/neuzeitgrobold?iefix") format('embedded-opentype'), url("../fonts/neuzeitgro/bold/neuzeitgrobold.woff") format('woff'), url("../fonts/neuzeitgro/bold/neuzeitgrobold.ttf") format('truetype'), url("../fonts/neuzeitgro/bold/neuzeitgrobold.svg#Neuzeit") format('svg');
}
@font-face {
  font-family: 'Neuzeit-black';
  src: url("../fonts/neuzeitgro/black/neuzeitgroblack.eot");
  src: url("../fontsneuzeitgro/black/neuzeitgroblack?iefix") format('embedded-opentype'), url("../fonts/neuzeitgro/black/neuzeitgroblack.woff") format('woff'), url("../fonts/neuzeitgro/black/neuzeitgroblack.ttf") format('truetype'), url("../fonts/neuzeitgro/black/neuzeitgroblack.svg#Neuzeit-black") format('svg');
}
@font-face {
  font-family: "Neuzeit-lig";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/neuzeitgro/lig/neuzeitgrolig?#iefix") format("embedded-opentype"), url("../fonts/fonts/neuzeitgro/lig/neuzeitgrolig.woff") format("woff"), url("../fonts/neuzeitgro/lig/neuzeitgrolig.ttf") format("truetype"), url("../fonts/neuzeitgro/lig/neuzeitgrolig.svg#Neuzeit") format("svg");
}

@font-face {
    font-family: "Entypo";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/entypo/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo/entypo.ttf") format("truetype"), url("../fonts/entypo/entypo.woff") format("woff"), url("../fonts/entypo/entypo.svg#entypo") format("svg");
}

body {
    color: #333; font-size: 14px; line-height: 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #333;}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: normal;
    text-transform: uppercase;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}
h1 {
    font-size: 28px; line-height: 28px;
    font-family: "Neuzeit"; 
    font-weight: bold;
}
h3 {
 font-size: 24px; line-height: 35px; padding: 10px 0px 5px; font-family: "Neuzeit-lig";
}


h4 {
    font-family: "Neuzeit-bold";
    font-size: 16px;
    line-height: 20px;
    padding: 0;
}

.flags { margin-bottom: 20px;
    width: 190px;
}

h3.green-text {font-family: "Neuzeit-bold"; text-transform: uppercase;}

.green-text{color: #74ad30;}

a {
    color: #74ad30; font-weight: bold; display: block;
}

a.inline {
    color: #74ad30; font-weight: bold; display: inline;
}

a.linkinline {
    color: #74ad30; font-weight: bold; display: inline;
}
    a.icon-green-doc {
        padding-left: 16px; line-height: 22px; background: url("../images/icon_document_green.jpg") no-repeat left center;
    }
    a:hover {
        color: #74ad30;
    }

p {
    color: #333;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 22px;
    line-height: 22px;
}
    .small-text {font-size: 11px;}
    
    footer  .small-text {color: white;}

    .large {font-size: 30px; line-height: 26px;}
    a.big  {font-size: 30px; line-height: 26px;}
    a.big :hover{font-size: 15px; line-height: 26px;}
    .small {width: 35%;}
    .superbig {font-size: 35px; line-height: 38px;}
    .superbold {font-weight: bold;}

a {text-decoration: none;}

.left {float: left;}
.right {float: right;}

/* extra padding  */
.link-top-padding {margin-top: 18px;}


ul, ol{ margin: 0 0 10px 15px;}

ol li{ margin: 15px 0 0;}

ul li {padding: 0 0 7px; line-height: 20px; list-style: circle;}


/*** HEADER ***/
/*********************************************************/

.vi-logo {
text-align: left;
}

#nav {
background: #333;
width: 100%; 
height: 0px; 
padding: 0px;
position: relative;
top: 0;
left: 0;
z-index: 1000;
font-weight: 300;
font-size: 14px; color: #fff;
}

#nav a {margin-right: 20px;}
    #nav .container_12, #nav .container_12 .grid_12 {height: 80px;}
        #nav .container_12 .grid_12 .grid_4, #nav .container_12 .grid_12 .grid_8 {line-height: 80px;}
            form.langauges {overflow: hidden; float: right;}
                /*.langauge-dropdown span {float: left;}*/
                form.langauges select {
                    font-family: Arial, Helvetica, sans-serif; color: #999; font-size: 13px; text-transform: uppercase; 
                    border: 1px solid #999; border-radius: 0; cursor: pointer;
                    background: transparent; -webkit-appearance: none; height: 24px; line-height: 24px; min-width: 136px;
                    padding: 0px 3px; margin-left: 22px;
                }


#header {

      background: url("../images/nl-coming-banner.jpg") no-repeat scroll center top #000;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    height: 352px;
    line-height: 70px;
    margin-top: 80px;
    overflow: hidden;
}



#header-hu {

      background: url("../images/EUC-1231_SLider_new_HU.jpg") no-repeat scroll center top #000;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    height: 511px;
    line-height: 70px;
    margin-top: 80px;
    overflow: hidden;
}



#header-eu {

      background: url("../images/SLider_euexpansion.jpeg") no-repeat scroll center top #000;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    height: 511px;
    line-height: 70px;
    margin-top: 80px;
    overflow: hidden;
}


#header-es {

      background: url("../images/Slider_new_ES.jpeg") no-repeat scroll center top #000;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    height: 511px;
    line-height: 70px;
    margin-top: 80px;
    overflow: hidden;
}

#header-fi {

      background: url("../images/SLider_new_FI.jpg") no-repeat scroll center top #000;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    height: 511px;
    line-height: 70px;
    margin-top: 80px;
    overflow: hidden;
}

#header-se {

      background: url("../images/SLider_new_SE.jpg") no-repeat scroll center top #000;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    height: 511px;
    line-height: 70px;
    margin-top: 80px;
    overflow: hidden;
}


#header-nl-launch {

      background: url("../images/nl-launch-bg.jpg") no-repeat scroll center top #000;
    color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 72px;
    height: 298px;
    line-height: 70px;
    overflow: hidden;
}



#header-nl-launch p {
     color: #fff;
    font-family: "Neuzeit-bold";
    font-size: 50px;
    line-height: 40px;

}


#header-nl-launch .left {
     margin-left: -40px;
     margin-top: 30px;
}

#header-nl-launch .button-margin {margin-bottom: 100px}


/*** BODY ***/
/*********************************************************/

#content-wrapper {margin-top: 0px; background-color: #fff; padding-bottom: 40px;}

#slide1 {padding-bottom: 40px; margin-top: -40px}
    #slide1 .grid_3 img {margin-top: 80px;}
        #slide1 h3 a.back-to-link {display: inline; text-transform: lowercase; padding-left: 5px;}



#downloads {

    background-color: #f5f5f5;
    padding-top: 30px;

}

a.green-btn-lrg {
       background-color: #74ad30;
    border-radius: 3px;
    color: #fff;
    display: inline;
    font-family: "Neuzeit";
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
    margin-right: 0;
    padding: 11px 50px;
    text-decoration: none;
    text-transform: uppercase;
}
a.green-btn-lrg:hover {
    background-color: #6fa62e;
}


a.green-btn-mdl {
    background-color: #74ad30;
    border-radius: 3px;
    color: #fff;
    display: inline;
    font-family: "Neuzeit";
    font-size: 15px;
    font-weight: bold;
    line-height: 60px;
    margin-right: 0;
    padding: 14px 12px;
    text-decoration: none;
    text-transform: uppercase;
}

a.green-btn-mdl:hover {
    background-color: #6fa62e;
}


.Q_label, .A_label {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}


.modal_click {margin-bottom: 20px;}

.aside {}


.eu-video { margin-bottom: 20px; margin-top: 20px;}


/*** FAQ TABLE ***/
/*********************************************************/



table.faqTable {
    clear: both;
    margin: 0 auto;
    width: 100%;
}

table.faqTable tr.head {
    background-color: #333;
    color: white;
    font-weight:bold;
}

table.faqTable tr.odd {
    background-color: #f5f5f5;
}

table.faqTable tr.even {
    background-color: white;
}

table.faqTable td {
    padding: 3px 10px;
}

table.faqTable th {
    padding: 3px 10px;
}

.panel-title {
    color: inherit;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;

}

a.blue-btn-lrg {
    background-color: blue;
    border-radius: 3px;
    color: #fff;
    display: inline;
    font-family: "Neuzeit";
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
    margin-right: 0;
    padding: 11px 50px;
    text-decoration: none;
    text-transform: uppercase;
}

a.blue-btn-lrg:hover {
    background-color: #4c4cff;
}




/*** FOOTER ***/
/*********************************************************/

footer {background: #333; color: #dcdcdc; padding: 15px 0px;}

p {
    color: #333;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 22px;
    line-height: 22px;
}





